@model RecodifiqueViagens.Models.Cadastro_Mensagem_Contato
@{
    ViewData["Title"] = "EditarMensagens";
}

<section class="container">

    <h1 class="my-4">Editar Mensagens</h1>

    <form action="" method="post">
        <div class="mb-3">
            <label class="form-label">Id</label>
            <input asp-for="Id_Msg" type="number" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">Nome:</label>
            <input asp-for="nomeDeContato" type="text" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">email</label>
            <input asp-for="email" type="text" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">Mensagem</label>
            <input asp-for="msg" type="text" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">Aceita Receber Not.</label>
            <input asp-for="aceitaReceberNot" type="text" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary"  style="background-color: #6e44ff;">Atualizar</button>
    </form>
</section>

