@{
    ViewData["Title"] = "Home Page";
}
<!--Inicio do Main-->

<section class="container">

    <div class="row">

        <h1 class="my-4">Sobre a Recodifique Viagens</h1>

        <div class="col">
            <p> Recodifique Viagens é uma agência de viagens fictícia para avaliação do curso de Fullstack da Recode</p>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus rerum dolore cum similique at corrupti pariatur aliquid harum quis. Vel id tempora error, unde odio dolore officia consequatur pariatur deleniti?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta blanditiis non harum quasi. Placeat quis perferendis eligendi illum minus, dicta corporis harum odio est inventore fugit consectetur eos? Modi, saepe!
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur fugit eum dolorem dolore harum debitis aspernatur distinctio accusantium recusandae quam explicabo commodi qui porro, aliquam, obcaecati sapiente similique sed asperiores?
            </p>
        </div>
        <div class="col">
            <img src="~/Imagens/Imagens_Home/Home_Mesa_de_viagens.jpg" alt="Mesa de viajante" width="500px">
        </div>
    </div>
</section>

<!--Fim do Main-->
